    <footer id="footer" class="footer bottom-bg">
        <div class="footer-bottom">
            <div class="pattern">

            </div>
            <div class="container">
                <div class="footer-nav">
                    <nav>
                        <ul id="menu-sidebar-footer-1" class="">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a
                                    href="../community/index.html">About</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a
                                    href="../contact/index.html">Contact</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a
                                    href="../terms/index.html">Terms</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a
                                    href="../privacy/index.html">Privacy</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="social-footer social">
                    <ul>
                        <li><a class="icon-facebook" href="https://www.facebook.com/" title="Facebook"
                               target="_blank"></a></li>
                        <li><a class="icon-youtube" href="https://youtube.com/" title="Youtube" target="_blank"></a>
                        </li>
                    </ul>
                </div>
                <div class="copy-right">&copy; 2017 All Rights Reserved</div>
            </div>
        </div>
    </footer>