{% extends "vuivcl/_base.html" %}
{% block content %}
    <div id="main" class="site-main" role="main">
        <div class="main-container">
            <div id="post-items" class="hfeed post-list standard">
    {% include 'vuivcl/post_list_page.html' %}

            </div>
{#            <div class="more-load-button infinite_scroll">#}
{#                <button id="load-more-button"#}
{#                        data-next_url="http://boombox.px-lab.com/another-gag/hot-list/page/2/"#}
{#                        data-scroll="infinite_scroll"><i class="icon icon-spinner spinner-pulse"></i> <span#}
{#                        class="text">Load more</span></button>#}
{#            </div>#}
        </div>
    </div>
{% endblock content %}
