{% load el_pagination_tags %}
{% paginate entry_list %}
{% for entry in entry_list %}
    <article id="post-130"
             class="post post-130 type-post status-publish format-standard has-post-thumbnail hentry category-geeky category-lol category-news tag-news">
        <h2 class="entry-title"><a href="{{ entry.absolute_url }}" rel="bookmark">{{ entry.title }}</a></h2>
        <div class="post-thumbnail">
            <a href="{{ entry.absolute_url }}" title="Dog Days of Summer">
                <img width="545"
                     height="364"
                     src="{{ entry.media_first.image_thumb1.url }}"
                     class="attachment-boombox_image545 size-boombox_image545 wp-post-image"
                /></a>
            <a class="view-full-post" href="../shoot-the-deputy/index.html"> <span
                    class="bb-btn bb-btn-primary">View Full Post</span> </a></div>
        <div class="content">
            <header class="entry-header">

                <div></div>
                <div class="post-author-meta">
                    <div class="author vcard ">
                        <div class="avatar circle-frame"><a
                                href="#"><img
                                src="{{ entry.user.userprofile.avatar_thumb.url }}"
                                class="avatar user-25-avatar avatar-66 photo" width="66" height="66"
                                alt="Kathy Newman"/></a></div>
                        <div class="author-info"><span class="byline">By <a class="url fn n"
                                                                            href="#"><span>{{ entry.user.username }}</span></a></span>
                        </div>
                    </div>
                    <span class="posted-on"><time class="entry-date published"
                                                  datetime="2016-08-12T21:49:06+00:00">{{ entry.created_date|timesince }} ago</time></span>
                </div>
                <div class="fb-like" data-href="{{ entry.absolute_url }}" data-layout="standard"
                     data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </header>
        </div>

    </article>
{% endfor %}
{% show_more "Xem thêm còn nhiều lắm" %}