# Created by .ignore support plugin (hsz.mobi)
.idea/
config/__pycache__/
apps/posts/__pycache__/
apps/posts/api/__pycache__/
apps/posts/migrations/__pycache__/
apps/posts/templatetags/__pycache__/
apps/accounts/__pycache__/
apps/accounts/api/__pycache__/
apps/comments/__pycache__/
apps/comments/migrations/__pycache__/
apps/comments/api/__pycache__/
apps/posts/.DS_Store

.DS_Store
apps/.DS_Store
apps/accounts/.DS_Store
apps/comments/.DS_Store
