{% load staticfiles %}
<header id="header" class="header clearfix  top-logo no-bottom fixed-header fixed-top">
        <div class="top clearfix narrow menu-left">
            <div class="container">
                <div class="mobile-box">
                    <div id="branding" class="branding"><h1 class="site-title"><a href="{% url 'vuivcl:list' %}"> <img
                            src="{% static 'vuivcl/img/logo.png' %}"
                            alt="BoomBox: Another GAG"/> </a></h1></div>
                    <div class="account-box">
                        <div class="wrapper">
                            <div class="top-search">
                                <button class="form-toggle js-toggle"></button>
                                <form role="search" method="get" class="search-form form"
                                      action="http://boombox.px-lab.com/another-gag/"><input type="search" name="s"
                                                                                             placeholder="Search and hit enter"
                                                                                             value=""></form>
                            </div>
                            <div class="user-box "><a class="js-authentication" href="#sign-in"><i
                                    class="icon-user"></i></a></div>
                            <a class="create-post icon zf-create-popup" href="#"><i class="icon-plus_bb"></i> Upload</a>
                            <button id="menu-button" class="menu-button icon-bars"></button>
                        </div>
                    </div>
                </div>
                <div id="branding" class="branding"><h1 class="site-title"><a href="{% url 'vuivcl:list' %}"> <img
                        src="{% static 'vuivcl/img/logo.png' %}"
                        alt="BoomBox: Another GAG"/> </a></h1></div>
                <div class="account-box">
                    <div class="wrapper">
                        <div class="top-search">
                            <button class="form-toggle js-toggle"></button>
                            <form role="search" method="get" class="search-form form"
                                  action="http://boombox.px-lab.com/another-gag/"><input type="search" name="s"
                                                                                         placeholder="Search and hit enter"
                                                                                         value=""></form>
                        </div>
                        <div class="user-box "><a class="js-authentication" href="#sign-in"><i
                                class="icon-user"></i></a></div>
                        <a class="create-post icon zf-create-popup" href="#"><i class="icon-plus_bb"></i> Upload</a>
                    </div>
                </div>
                <div class="navigation-box">
                    <div class="wrapper">
                        <div class="nav">
                            <nav class="main-navigation">
                                <ul id="menu-top-header-navigation-1" class="">

                                    {% for category in categories %}
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-83 current_page_item menu-item-90 menu-item-icon">
                                        <a href="index.html"> {{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </nav>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <span id="go-top" class="go-top"> <i class="icon icon-arrow-up"></i> </span></header>