<div id="mobile-navigation" class="mobile-navigation-wrapper">
    <button id="menu-close" class="close"><i class="icon icon-close"></i></button>
    <div class="holder">
        <div class="more-menu">
            <div class="more-menu-header"></div>
            <nav class="main-navigation">
                <ul id="menu-top-header-navigation" class="">
                    {% for category in categories %}
                    <li id="menu-item-90"
                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-83 current_page_item menu-item-90 menu-item-icon">
                        <a href="index.html">{{ category.name }}</a></li>
                    {% endfor %}

                </ul>
            </nav>

        </div>
    </div>
</div>