<aside id="secondary" class="sidebar widget-area" role="complementary">


    <section id="boombox-picked-posts-2" class="widget widget_picked_entries"><h2 class="widget-title">
        Hot Hot Hot...</h2>
        <ul>
            {% for post in posts %}
            <li>
                <article class="post ">
                    <div class="post-thumbnail"><a href="#"
                                                   title="Everything is relative">
                        <img width="360"
                                                                                        height="180"
                                                                                        src="{{ post.media_first.image_thumb2.url }}"
                                                                                        class="attachment-boombox_image360x180 size-boombox_image360x180 wp-post-image"
                                                                                        alt=""/>

                    </a></div>
                    <div class="content">
                        <div class="entry-header"><h3 class="entry-title"><a
                                href="#">{{ post.title }}</a>
                        </h3></div>
                    </div>
                </article>
            </li>
            {% endfor %}


        </ul>
    </section>
{#    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="360"#}
{#         data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"#}
{#         data-show-facepile="true">#}
{#        <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a#}
{#                href="https://www.facebook.com/facebook">Facebook</a></blockquote>#}
{#    </div>#}

</aside>